.resource{:id => "todo-todoリストを取得する"}
  %h3.resource-heading
    TODOリストを取得する
    %a.permalink{:href => "#todo-todoリストを取得する"}  ¶
  .action.get{:id => "todo-todoリストを取得する-get"}
    %h4.action-heading
      .name TODOリストを取得する
      %a.method.get{:href => "#todo-todoリストを取得する-get"} GET
      %code.uri /todo{?offset,limit}
    %h4 Example URI
    .definition
      %span.method.get> GET
       
      %span.uri
        %span.hostname> http://localhost:9000
        \/todo?
        %span.hljs-attribute offset=
        = succeed "&" do
          %span.hljs-literal 0
        %span.hljs-attribute limit=
        %span.hljs-literal 10
    .title
      %strong URI Parameters
      .collapse-button.show
        %span.close Hide
        %span.open Show
    .collapse-content
      %dl.inner
        %dt offset
        %dd
          %code> number
           
          %span> (optional)
           
          %span.text-muted.example
            %strong Example: 
            %span 0
          %p オフセット
        %dt limit
        %dd
          %code> number
           
          %span> (optional)
           
          %span.text-muted.example
            %strong Example: 
            %span 10
          %p リミット
    .title
      %strong
        Response  
        %code 200
      .collapse-button
        %span.close Hide
        %span.open Show
    .collapse-content
      .inner
        %h5 Headers
        %pre
          %code
            %span.hljs-attribute> Content-Type
            \:
            %span.hljs-string application/json; charset=utf-8
        %div{:style => "height: 1px;"}
        %h5 Body
        %pre
          %code
            {
            "
            %span.hljs-attribute> total
            ":
            = succeed "," do
              %span.hljs-value
                %span.hljs-number 2
            = succeed "\":" do
              %span.hljs-attribute list
            = succeed "}" do
              %span.hljs-value
                [
                {
                "
                %span.hljs-attribute> id
                ":
                = succeed "," do
                  %span.hljs-value
                    %span.hljs-number 1
                = succeed "\":" do
                  %span.hljs-attribute title
                = succeed "," do
                  %span.hljs-value
                    %span.hljs-string "タイトル"
                = succeed "\":" do
                  %span.hljs-attribute description
                = succeed "," do
                  %span.hljs-value
                    %span.hljs-string "説明"
                = succeed "\":" do
                  %span.hljs-attribute isFinished
                = succeed "}" do
                  %span.hljs-value
                    %span.hljs-literal true
        %div{:style => "height: 1px;"}
        %h5 Schema
        %pre
          %code
            {
            "
            %span.hljs-attribute> $schema
            ":
            = succeed "," do
              %span.hljs-value
                %span.hljs-string "http://json-schema.org/draft-04/schema#"
            = succeed "\":" do
              %span.hljs-attribute type
            = succeed "," do
              %span.hljs-value
                %span.hljs-string "object"
            = succeed "\":" do
              %span.hljs-attribute properties
            = succeed "," do
              %span.hljs-value
                {
                "
                %span.hljs-attribute> total
                ":
                = succeed "," do
                  %span.hljs-value
                    {
                    "
                    %span.hljs-attribute> type
                    ":
                    = succeed "," do
                      %span.hljs-value
                        %span.hljs-string "number"
                    = succeed "\":" do
                      %span.hljs-attribute description
                    = succeed "}" do
                      %span.hljs-value
                        %span.hljs-string "トータル件数"
                = succeed "\":" do
                  %span.hljs-attribute list
                = succeed "}" do
                  %span.hljs-value
                    {
                    "
                    %span.hljs-attribute> type
                    ":
                    = succeed "," do
                      %span.hljs-value
                        %span.hljs-string "array"
                    = succeed "\":" do
                      %span.hljs-attribute items
                    = succeed "," do
                      %span.hljs-value
                        {
                        "
                        %span.hljs-attribute> type
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "object"
                        = succeed "\":" do
                          %span.hljs-attribute properties
                        = succeed "," do
                          %span.hljs-value
                            {
                            "
                            %span.hljs-attribute> id
                            ":
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "number"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "todo ID"
                            = succeed "\":" do
                              %span.hljs-attribute title
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "タイトル"
                            = succeed "\":" do
                              %span.hljs-attribute description
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "説明"
                            = succeed "\":" do
                              %span.hljs-attribute isFinished
                            = succeed "}" do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "boolean"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "終了したかどうか"
                        = succeed "\":" do
                          %span.hljs-attribute required
                        = succeed "}" do
                          %span.hljs-value
                            [
                            = succeed "," do
                              %span.hljs-string "id"
                            = succeed "," do
                              %span.hljs-string "title"
                            = succeed "," do
                              %span.hljs-string "description"
                            %span.hljs-string "isFinished"
                            ]
                    = succeed "\":" do
                      %span.hljs-attribute description
                    = succeed "}" do
                      %span.hljs-value
                        %span.hljs-string "Todoリスト"
            = succeed "\":" do
              %span.hljs-attribute required
            = succeed "}" do
              %span.hljs-value
                [
                = succeed "," do
                  %span.hljs-string "total"
                %span.hljs-string "list"
                ]
        %div{:style => "height: 1px;"}