%html
  %head
    %title HamlTest
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', media: 'all'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body.preload
    %a.text-muted.back-to-top{:href => "#top"}
      %i.fa.fa-toggle-up>
       Back to top
    .container-fluid
      .row
        / ナビゲーションバー
        %nav
          .resource-group
            .heading
              .chevron
                %i.open.fa.fa-angle-down
              %a{:href => "#todo"} todo
            .collapse-content
              %ul
                %li
                  %a{:href => "#todo-todoリストを取得する-get"}
                    %span.badge.get>
                      %i.fa.fa-arrow-down
                    TODOリストを取得する
                %li
                  %a{:href => "#todo-todoを作成する-post"}
                    %span.badge.post>
                      %i.fa.fa-plus
                    TODOを作成する
                %li
                  %a{:href => "#todo-todoの更新・削除"} TODOの更新・削除
                  %ul
                    %li
                      %a{:href => "#todo-todoの更新・削除-put"}
                        %span.badge.put>
                          %i.fa.fa-pencil
                        TODOを更新する
                    %li
                      %a{:href => "#todo-todoの更新・削除-delete"}
                        %span.badge.delete>
                          %i.fa.fa-times
                        TODOを削除する
          %p{:style => "text-align: center; word-wrap: break-word;"}
            %a{:href => "http://localhost:9000"} http://localhost:9000
        / メインコンテンツ
        .content
          %header
            %h1#top Todo Sample App
          %section#todo.resource-group
            %h2.group-heading
              todo
              %a.permalink{:href => "#todo"} ¶
            .resource{:id => "todo-todoリストを取得する"}
              %h3.resource-heading
                TODOリストを取得する
                %a.permalink{:href => "#todo-todoリストを取得する"}  ¶
              .action.get{:id => "todo-todoリストを取得する-get"}
                %h4.action-heading
                  .name TODOリストを取得する
                  %a.method.get{:href => "#todo-todoリストを取得する-get"} GET
                  %code.uri /todo{?offset,limit}
                %h4 Example URI
                .definition
                  %span.method.get> GET
                   
                  %span.uri
                    %span.hostname> http://localhost:9000
                    \/todo?
                    %span.hljs-attribute offset=
                    = succeed "&" do
                      %span.hljs-literal 0
                    %span.hljs-attribute limit=
                    %span.hljs-literal 10
                .title
                  %strong URI Parameters
                  .collapse-button.show
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  %dl.inner
                    %dt offset
                    %dd
                      %code> number
                       
                      %span> (optional)
                       
                      %span.text-muted.example
                        %strong Example: 
                        %span 0
                      %p オフセット
                    %dt limit
                    %dd
                      %code> number
                       
                      %span> (optional)
                       
                      %span.text-muted.example
                        %strong Example: 
                        %span 10
                      %p リミット
                .title
                  %strong
                    Response  
                    %code 200
                  .collapse-button
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  .inner
                    %h5 Headers
                    %pre
                      %code
                        %span.hljs-attribute> Content-Type
                        \:
                        %span.hljs-string application/json; charset=utf-8
                    %div{:style => "height: 1px;"}
                    %h5 Body
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> total
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-number 2
                        = succeed "\":" do
                          %span.hljs-attribute list
                        = succeed "}" do
                          %span.hljs-value
                            [
                            {
                            "
                            %span.hljs-attribute> id
                            ":
                            = succeed "," do
                              %span.hljs-value
                                %span.hljs-number 1
                            = succeed "\":" do
                              %span.hljs-attribute title
                            = succeed "," do
                              %span.hljs-value
                                %span.hljs-string "タイトル"
                            = succeed "\":" do
                              %span.hljs-attribute description
                            = succeed "," do
                              %span.hljs-value
                                %span.hljs-string "説明"
                            = succeed "\":" do
                              %span.hljs-attribute isFinished
                            = succeed "}" do
                              %span.hljs-value
                                %span.hljs-literal true
                    %div{:style => "height: 1px;"}
                    %h5 Schema
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> $schema
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "http://json-schema.org/draft-04/schema#"
                        = succeed "\":" do
                          %span.hljs-attribute type
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "object"
                        = succeed "\":" do
                          %span.hljs-attribute properties
                        = succeed "," do
                          %span.hljs-value
                            {
                            "
                            %span.hljs-attribute> total
                            ":
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "number"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "トータル件数"
                            = succeed "\":" do
                              %span.hljs-attribute list
                            = succeed "}" do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "array"
                                = succeed "\":" do
                                  %span.hljs-attribute items
                                = succeed "," do
                                  %span.hljs-value
                                    {
                                    "
                                    %span.hljs-attribute> type
                                    ":
                                    = succeed "," do
                                      %span.hljs-value
                                        %span.hljs-string "object"
                                    = succeed "\":" do
                                      %span.hljs-attribute properties
                                    = succeed "," do
                                      %span.hljs-value
                                        {
                                        "
                                        %span.hljs-attribute> id
                                        ":
                                        = succeed "," do
                                          %span.hljs-value
                                            {
                                            "
                                            %span.hljs-attribute> type
                                            ":
                                            = succeed "," do
                                              %span.hljs-value
                                                %span.hljs-string "number"
                                            = succeed "\":" do
                                              %span.hljs-attribute description
                                            = succeed "}" do
                                              %span.hljs-value
                                                %span.hljs-string "todo ID"
                                        = succeed "\":" do
                                          %span.hljs-attribute title
                                        = succeed "," do
                                          %span.hljs-value
                                            {
                                            "
                                            %span.hljs-attribute> type
                                            ":
                                            = succeed "," do
                                              %span.hljs-value
                                                %span.hljs-string "string"
                                            = succeed "\":" do
                                              %span.hljs-attribute description
                                            = succeed "}" do
                                              %span.hljs-value
                                                %span.hljs-string "タイトル"
                                        = succeed "\":" do
                                          %span.hljs-attribute description
                                        = succeed "," do
                                          %span.hljs-value
                                            {
                                            "
                                            %span.hljs-attribute> type
                                            ":
                                            = succeed "," do
                                              %span.hljs-value
                                                %span.hljs-string "string"
                                            = succeed "\":" do
                                              %span.hljs-attribute description
                                            = succeed "}" do
                                              %span.hljs-value
                                                %span.hljs-string "説明"
                                        = succeed "\":" do
                                          %span.hljs-attribute isFinished
                                        = succeed "}" do
                                          %span.hljs-value
                                            {
                                            "
                                            %span.hljs-attribute> type
                                            ":
                                            = succeed "," do
                                              %span.hljs-value
                                                %span.hljs-string "boolean"
                                            = succeed "\":" do
                                              %span.hljs-attribute description
                                            = succeed "}" do
                                              %span.hljs-value
                                                %span.hljs-string "終了したかどうか"
                                    = succeed "\":" do
                                      %span.hljs-attribute required
                                    = succeed "}" do
                                      %span.hljs-value
                                        [
                                        = succeed "," do
                                          %span.hljs-string "id"
                                        = succeed "," do
                                          %span.hljs-string "title"
                                        = succeed "," do
                                          %span.hljs-string "description"
                                        %span.hljs-string "isFinished"
                                        ]
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "Todoリスト"
                        = succeed "\":" do
                          %span.hljs-attribute required
                        = succeed "}" do
                          %span.hljs-value
                            [
                            = succeed "," do
                              %span.hljs-string "total"
                            %span.hljs-string "list"
                            ]
                    %div{:style => "height: 1px;"}
            .resource{:id => "todo-todoを作成する"}
              %h3.resource-heading
                TODOを作成する
                %a.permalink{:href => "#todo-todoを作成する"}  ¶
              .action.post{:id => "todo-todoを作成する-post"}
                %h4.action-heading
                  .name TODOを作成する
                  %a.method.post{:href => "#todo-todoを作成する-post"} POST
                  %code.uri /todo
                %h4 Example URI
                .definition
                  %span.method.post> POST
                   
                  %span.uri
                    %span.hostname> http://localhost:9000
                    \/todo
                .title
                  %strong Request
                  .collapse-button
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  .inner
                    %h5 Headers
                    %pre
                      %code
                        %span.hljs-attribute> Content-Type
                        \:
                        %span.hljs-string application/json
                    %div{:style => "height: 1px;"}
                    %h5 Body
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> title
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "タイトル"
                        = succeed "\":" do
                          %span.hljs-attribute description
                        = succeed "}" do
                          %span.hljs-value
                            %span.hljs-string "説明"
                    %div{:style => "height: 1px;"}
                    %h5 Schema
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> $schema
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "http://json-schema.org/draft-04/schema#"
                        = succeed "\":" do
                          %span.hljs-attribute type
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "object"
                        = succeed "\":" do
                          %span.hljs-attribute properties
                        = succeed "," do
                          %span.hljs-value
                            {
                            "
                            %span.hljs-attribute> title
                            ":
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "タイトル"
                            = succeed "\":" do
                              %span.hljs-attribute description
                            = succeed "}" do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "説明"
                        = succeed "\":" do
                          %span.hljs-attribute required
                        = succeed "}" do
                          %span.hljs-value
                            [
                            = succeed "," do
                              %span.hljs-string "title"
                            %span.hljs-string "description"
                            ]
                    %div{:style => "height: 1px;"}
                .title
                  %strong
                    Response  
                    %code 201
                  .collapse-button
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  .inner
                    %h5 Headers
                    %pre
                      %code
                        %span.hljs-attribute> Content-Type
                        \:
                        %span.hljs-string application/json; charset=utf-8
                    %div{:style => "height: 1px;"}
                    %h5 Body
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> id
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-number 1
                        = succeed "\":" do
                          %span.hljs-attribute title
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "タイトル"
                        = succeed "\":" do
                          %span.hljs-attribute description
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "説明"
                        = succeed "\":" do
                          %span.hljs-attribute isFinished
                        = succeed "}" do
                          %span.hljs-value
                            %span.hljs-literal true
                    %div{:style => "height: 1px;"}
                    %h5 Schema
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> $schema
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "http://json-schema.org/draft-04/schema#"
                        = succeed "\":" do
                          %span.hljs-attribute type
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "object"
                        = succeed "\":" do
                          %span.hljs-attribute properties
                        = succeed "," do
                          %span.hljs-value
                            {
                            "
                            %span.hljs-attribute> id
                            ":
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "number"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "todo ID"
                            = succeed "\":" do
                              %span.hljs-attribute title
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "タイトル"
                            = succeed "\":" do
                              %span.hljs-attribute description
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "説明"
                            = succeed "\":" do
                              %span.hljs-attribute isFinished
                            = succeed "}" do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "boolean"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "終了したかどうか"
                        = succeed "\":" do
                          %span.hljs-attribute required
                        = succeed "}" do
                          %span.hljs-value
                            [
                            = succeed "," do
                              %span.hljs-string "id"
                            = succeed "," do
                              %span.hljs-string "title"
                            = succeed "," do
                              %span.hljs-string "description"
                            %span.hljs-string "isFinished"
                            ]
                    %div{:style => "height: 1px;"}
            .resource{:id => "todo-todoの更新・削除"}
              %h3.resource-heading
                TODOの更新・削除
                %a.permalink{:href => "#todo-todoの更新・削除"}  ¶
              .action.put{:id => "todo-todoの更新・削除-put"}
                %h4.action-heading
                  .name TODOを更新する
                  %a.method.put{:href => "#todo-todoの更新・削除-put"} PUT
                  %code.uri /todo/{todoId}
                %h4 Example URI
                .definition
                  %span.method.put> PUT
                   
                  %span.uri
                    %span.hostname> http://localhost:9000
                    \/todo/
                    %span.hljs-attribute{:title => "todoId"} 2
                .title
                  %strong URI Parameters
                  .collapse-button.show
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  %dl.inner
                    %dt todoId
                    %dd
                      %code> number
                       
                      %span.required> (required)
                       
                      %span.text-muted.example
                        %strong Example: 
                        %span 2
                      %p todo ID
                .title
                  %strong Request
                  .collapse-button
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  .inner
                    %h5 Headers
                    %pre
                      %code
                        %span.hljs-attribute> Content-Type
                        \:
                        %span.hljs-string application/json
                    %div{:style => "height: 1px;"}
                    %h5 Body
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> title
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "タイトル"
                        = succeed "\":" do
                          %span.hljs-attribute description
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "説明"
                        = succeed "\":" do
                          %span.hljs-attribute isFinished
                        = succeed "}" do
                          %span.hljs-value
                            %span.hljs-literal true
                    %div{:style => "height: 1px;"}
                    %h5 Schema
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> $schema
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "http://json-schema.org/draft-04/schema#"
                        = succeed "\":" do
                          %span.hljs-attribute type
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "object"
                        = succeed "\":" do
                          %span.hljs-attribute properties
                        = succeed "," do
                          %span.hljs-value
                            {
                            "
                            %span.hljs-attribute> title
                            ":
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "タイトル"
                            = succeed "\":" do
                              %span.hljs-attribute description
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "説明"
                            = succeed "\":" do
                              %span.hljs-attribute isFinished
                            = succeed "}" do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "boolean"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "終了したかどうか"
                        = succeed "\":" do
                          %span.hljs-attribute required
                        = succeed "}" do
                          %span.hljs-value
                            [
                            = succeed "," do
                              %span.hljs-string "title"
                            = succeed "," do
                              %span.hljs-string "description"
                            %span.hljs-string "isFinished"
                            ]
                    %div{:style => "height: 1px;"}
                .title
                  %strong
                    Response  
                    %code 200
                  .collapse-button
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  .inner
                    %h5 Headers
                    %pre
                      %code
                        %span.hljs-attribute> Content-Type
                        \:
                        %span.hljs-string application/json; charset=utf-8
                    %div{:style => "height: 1px;"}
                    %h5 Body
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> id
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-number 1
                        = succeed "\":" do
                          %span.hljs-attribute title
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "タイトル"
                        = succeed "\":" do
                          %span.hljs-attribute description
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "説明"
                        = succeed "\":" do
                          %span.hljs-attribute isFinished
                        = succeed "}" do
                          %span.hljs-value
                            %span.hljs-literal true
                    %div{:style => "height: 1px;"}
                    %h5 Schema
                    %pre
                      %code
                        {
                        "
                        %span.hljs-attribute> $schema
                        ":
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "http://json-schema.org/draft-04/schema#"
                        = succeed "\":" do
                          %span.hljs-attribute type
                        = succeed "," do
                          %span.hljs-value
                            %span.hljs-string "object"
                        = succeed "\":" do
                          %span.hljs-attribute properties
                        = succeed "," do
                          %span.hljs-value
                            {
                            "
                            %span.hljs-attribute> id
                            ":
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "number"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "todo ID"
                            = succeed "\":" do
                              %span.hljs-attribute title
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "タイトル"
                            = succeed "\":" do
                              %span.hljs-attribute description
                            = succeed "," do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "string"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "説明"
                            = succeed "\":" do
                              %span.hljs-attribute isFinished
                            = succeed "}" do
                              %span.hljs-value
                                {
                                "
                                %span.hljs-attribute> type
                                ":
                                = succeed "," do
                                  %span.hljs-value
                                    %span.hljs-string "boolean"
                                = succeed "\":" do
                                  %span.hljs-attribute description
                                = succeed "}" do
                                  %span.hljs-value
                                    %span.hljs-string "終了したかどうか"
                        = succeed "\":" do
                          %span.hljs-attribute required
                        = succeed "}" do
                          %span.hljs-value
                            [
                            = succeed "," do
                              %span.hljs-string "id"
                            = succeed "," do
                              %span.hljs-string "title"
                            = succeed "," do
                              %span.hljs-string "description"
                            %span.hljs-string "isFinished"
                            ]
                    %div{:style => "height: 1px;"}
              .action.delete{:id => "todo-todoの更新・削除-delete"}
                %h4.action-heading
                  .name TODOを削除する
                  %a.method.delete{:href => "#todo-todoの更新・削除-delete"} DELETE
                  %code.uri /todo/{todoId}
                %h4 Example URI
                .definition
                  %span.method.delete> DELETE
                   
                  %span.uri
                    %span.hostname> http://localhost:9000
                    \/todo/
                    %span.hljs-attribute{:title => "todoId"} 1
                .title
                  %strong URI Parameters
                  .collapse-button.show
                    %span.close Hide
                    %span.open Show
                .collapse-content
                  %dl.inner
                    %dt todoId
                    %dd
                      %code> number
                       
                      %span.required> (required)
                       
                      %span.text-muted.example
                        %strong Example: 
                        %span 1
                      %p todo ID
                .title
                  %strong
                    Response  
                    %code 204
    %p.text-muted{:style => "text-align: center;"}
      Generated by 
      %a.aglio{:href => "https://github.com/danielgtaylor/aglio"} aglio
       on 09 May 2017